<h2>Your Cart</h2>
<div *ngIf="cartItems().length > 0; else emptyCart">
  <div *ngFor="let item of cartItems()" class="cart-item">
    {{ item.title }} - Qty: {{ item.quantity }} - ₹{{ item.price * item.quantity }}
    <button (click)="removeFromCart(item.id)">Remove</button>
  </div>
</div>
<ng-template #emptyCart>
  <p>Your cart is empty.</p>
</ng-template>

<hr />

<h2>Product List</h2>

<input [formControl]="searchControl" placeholder="Search products..." class="search-input" />

<div *ngIf="loading(); else productList">Loading...</div>

<ng-template #productList>
  <div *ngIf="filteredProducts().length > 0; else noResults">
    <div class="grid">
      <div *ngFor="let product of filteredProducts()">
        <div class="card">
          <h3>{{ product.title }}</h3>
          <img [src]="product.image" alt="{{ product.title }}" />
          <p>{{ product.price | currency }}</p>

          <button (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noResults>
  <p>No products found. Try another search.</p>
</ng-template>