<h2>Product List</h2>

<input
  [formControl]="searchControl"
  placeholder="Search products..."
  class="search-input"
/>

<div *ngIf="loading(); else productList">Loading...</div>

<ng-template #productList>
    <div *ngIf="filteredProducts().length > 0; else noResults">
        <div class="grid">
            <div *ngFor="let product of filteredProducts()" class="card">
            <h3>{{ product.title }}</h3>
            <img [src]="product.image" alt="{{ product.title }}" />
            <p>{{ product.price | currency }}</p>
            </div>
        </div>
    </div> 
</ng-template>

<ng-template #noResults>
  <p>No products found. Try another search.</p>
</ng-template>
